In [2]:
import pandas as pd
import numpy as np

In [49]:
df = pd.read_csv('movies/movies_metadata.csv')
df.head()

/var/folders/h9/x2v2_krn40q63ccf8mytsdb80000gn/T/ipykernel_7703/1724636363.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('movies/movies_metadata.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [76]:
df = df.filter(['id', 'title', 'genres', 'vote_average', "vote_count"])
df = df[df["vote_count"] != 0.0] 
df["vote_score"] = df['vote_average'] * np.log(df['vote_count'])
df.head()

,id,title,genres,vote_average,vote_count,vote_score
0,862.0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",7.7,5415.0,66.196347
1,8844.0,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",6.9,2413.0,53.741520
2,15602.0,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",6.5,92.0,29.391626
3,31357.0,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",6.1,34.0,21.510799
4,11862.0,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]",5.7,173.0,29.373762

In [70]:
df2 = pd.read_csv('movies/keywords.csv')
df2.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [77]:
df['id'] = pd.to_numeric(df['id'], errors='coerce', downcast='integer')
merged_df = pd.merge(df, df2[['id', 'keywords']], on='id', how='left')
len(merged_df)

43477

In [78]:
merged_df = merged_df.loc[(merged_df["genres"] != "[]") & (merged_df["keywords"] != "[]")]

In [79]:
print(merged_df[merged_df["id"] == 9087])

        id                   title  \
10  9087.0  The American President

                                               genres  vote_average  \
10  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...           6.5

    vote_count  vote_score                                           keywords
10       199.0   34.406481  [{'id': 833, 'name': 'white house'}, {'id': 84...

In [80]:
merged_df.sort_values(by='vote_score', inplace=True, ascending=False)
merged_df.head(60)

,id,title,genres,vote_average,vote_count,vote_score,keywords
12281,155.0,The Dark Knight,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",8.3,12269.0,78.143098,"[{'id': 849, 'name': 'dc comics'}, {'id': 853,..."
15202,27205.0,Inception,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",8.1,14075.0,77.372459,"[{'id': 1014, 'name': 'loss of lover'}, {'id':..."
307,278.0,The Shawshank Redemption,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",8.5,8358.0,76.763283,"[{'id': 378, 'name': 'prison'}, {'id': 417, 'n..."
2750,550.0,Fight Club,"[{'id': 18, 'name': 'Drama'}]",8.3,9678.0,76.174168,"[{'id': 825, 'name': 'support group'}, {'id': ..."
22159,157336.0,Interstellar,"[{'id': 12, 'name': 'Adventure'}, {'id': 18, '...",8.1,11187.0,75.512312,"[{'id': 83, 'name': 'saving the world'}, {'id'..."
285,680.0,Pulp Fiction,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",8.3,8670.0,75.261280,"[{'id': 396, 'name': 'transporter'}, {'id': 14..."
803,238.0,The Godfather,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",8.5,6024.0,73.979808,"[{'id': 131, 'name': 'italy'}, {'id': 699, 'na..."
344,13.0,Forrest Gump,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",8.2,8147.0,73.844321,"[{'id': 422, 'name': 'vietnam veteran'}, {'id'..."
6837,122.0,The Lord of the Rings: The Return of the King,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8.1,8226.0,73.021947,"[{'id': 603, 'name': 'elves'}, {'id': 606, 'na..."
22958,118340.0,Guardians of the Galaxy,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",7.9,10014.0,72.772741,"[{'id': 8828, 'name': 'marvel comic'}, {'id': ..."
4733,120.0,The Lord of the Rings: The Fellowship of the Ring,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8.0,8892.0,72.743258,"[{'id': 603, 'name': 'elves'}, {'id': 604, 'na..."
19523,68718.0,Django Unchained,"[{'id': 18, 'name': 'Drama'}, {'id': 37, 'name...",7.8,10297.0,72.068941,"[{'id': 801, 'name': 'bounty hunter'}, {'id': ..."
2373,603.0,The Matrix,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",7.9,9079.0,71.998383,"[{'id': 83, 'name': 'saving the world'}, {'id'..."
5668,121.0,The Lord of the Rings: The Two Towers,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8.0,7641.0,71.530270,"[{'id': 603, 'name': 'elves'}, {'id': 606, 'na..."
250,11.0,Star Wars,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",8.1,6778.0,71.453643,"[{'id': 803, 'name': 'android'}, {'id': 4270, ..."
1107,1891.0,The Empire Strikes Back,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",8.2,5998.0,71.333287,"[{'id': 526, 'name': 'rebel'}, {'id': 803, 'na..."
18068,77338.0,The Intouchables,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",8.2,5410.0,70.487236,"[{'id': 3230, 'name': 'male friendship'}, {'id..."
46,807.0,Se7en,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na...",8.1,5915.0,70.350499,"[{'id': 476, 'name': 'self-fulfilling prophecy..."
1178,105.0,Back to the Future,"[{'id': 12, 'name': 'Adventure'}, {'id': 35, '...",8.0,6239.0,69.908602,"[{'id': 389, 'name': 'clock tower'}, {'id': 83..."
512,424.0,Schindler's List,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",8.3,4436.0,69.699319,"[{'id': 1382, 'name': 'factory'}, {'id': 1631,..."
21470,106646.0,The Wolf of Wall Street,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",7.9,6768.0,69.677691,"[{'id': 417, 'name': 'corruption'}, {'id': 572..."
28972,150540.0,Inside Out,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name...",7.9,6737.0,69.641423,"[{'id': 1566, 'name': 'dream'}, {'id': 6513, '..."
22888,244786.0,Whiplash,"[{'id': 18, 'name': 'Drama'}]",8.3,4376.0,69.586290,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n..."
17448,24428.0,The Avengers,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",7.4,12000.0,69.505698,"[{'id': 242, 'name': 'new york'}, {'id': 5539,..."
13381,16869.0,Inglourious Basterds,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",7.9,6598.0,69.476723,"[{'id': 90, 'name': 'paris'}, {'id': 1008, 'na..."
23970,205596.0,The Imitation Game,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na...",8.0,5895.0,69.454879,"[{'id': 237, 'name': 'gay'}, {'id': 392, 'name..."
17863,49026.0,The Dark Knight Rises,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",7.6,9263.0,69.416753,"[{'id': 849, 'name': 'dc comics'}, {'id': 853,..."
25544,293660.0,Deadpool,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",7.4,11444.0,69.154634,"[{'id': 2095, 'name': 'anti hero'}, {'id': 307..."
13495,14160.0,Up,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",7.8,7048.0,69.111894,"[{'id': 965, 'name': 'age difference'}, {'id':..."
352,8587.0,The Lion King,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",8.0,5520.0,68.929065,"[{'id': 2143, 'name': 'loss of parents'}, {'id..."
17081,12445.0,Harry Potter and the Deathly Hallows: Part 2,"[{'id': 10751, 'name': 'Family'}, {'id': 14, '...",7.9,6141.0,68.909669,"[{'id': 1430, 'name': 'self sacrifice'}, {'id'..."
5345,129.0,Spirited Away,"[{'id': 14, 'name': 'Fantasy'}, {'id': 12, 'na...",8.3,3968.0,68.773945,"[{'id': 616, 'name': 'witch'}, {'id': 970, 'na..."
22889,210577.0,Gone Girl,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",7.9,6023.0,68.756392,"[{'id': 818, 'name': 'based on novel'}, {'id':..."
282,101.0,Leon: The Professional,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",8.2,4293.0,68.590877,"[{'id': 242, 'name': 'new york'}, {'id': 417, ..."
14566,11324.0,Shutter Island,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",7.8,6559.0,68.551029,"[{'id': 818, 'name': 'based on novel'}, {'id':..."
12502,10681.0,WALL·E,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",7.8,6439.0,68.407003,"[{'id': 9799, 'name': 'romantic comedy'}]"
2935,497.0,The Green Mile,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na...",8.2,4166.0,68.344635,"[{'id': 531, 'name': 'southern usa'}, {'id': 5..."
573,274.0,The Silence of the Lambs,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",8.1,4549.0,68.223568,"[{'id': 818, 'name': 'based on novel'}, {'id':..."
23591,177572.0,Big Hero 6,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",7.8,6289.0,68.223147,"[{'id': 380, 'name': 'brother brother relation..."
3344,98.0,Gladiator,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",7.9,5566.0,68.133012,"[{'id': 588, 'name': 'rome'}, {'id': 1394, 'na..."
2129,637.0,Life Is Beautiful,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",8.3,3643.0,68.064671,"[{'id': 131, 'name': 'italy'}, {'id': 483, 'na..."
28723,286217.0,The Martian,"[{'id': 18, 'name': 'Drama'}, {'id': 12, 'name...",7.6,7442.0,67.753201,"[{'id': 818, 'name': 'based on novel'}, {'id':..."
14303,19995.0,Avatar,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",7.2,12114.0,67.695243,"[{'id': 1463, 'name': 'culture clash'}, {'id':..."
22125,120467.0,The Grand Budapest Hotel,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",8.0,4644.0,67.546651,"[{'id': 612, 'name': 'hotel'}, {'id': 5918, 'n..."
1131,240.0,The Godfather: Part II,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",8.3,3418.0,67.535530,"[{'id': 700, 'name': 'italo-american'}, {'id':..."
1842,857.0,Saving Private Ryan,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",7.9,5148.0,67.516272,"[{'id': 1327, 'name': 'war crimes'}, {'id': 14..."
3978,77.0,Memento,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, '...",8.1,4168.0,67.515052,"[{'id': 30, 'name': 'individual'}, {'id': 328,..."
25536,140607.0,Star Wars: The Force Awakens,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",7.5,7993.0,67.397411,"[{'id': 803, 'name': 'android'}, {'id': 9831, ..."
12387,1726.0,Iron Man,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",7.4,8951.0,67.336452,"[{'id': 539, 'name': 'middle east'}, {'id': 61..."
11163,1124.0,The Prestige,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",8.0,4510.0,67.312419,"[{'id': 271, 'name': 'competition'}, {'id': 13..."
1575,597.0,Titanic,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",7.5,7770.0,67.185191,"[{'id': 2580, 'name': 'shipwreck'}, {'id': 298..."
7553,673.0,Harry Potter and the Prisoner of Azkaban,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",7.7,6037.0,67.033601,"[{'id': 334, 'name': 'flying'}, {'id': 2052, '..."
25534,76341.0,Mad Max: Fury Road,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",7.3,9629.0,66.959503,"[{'id': 2964, 'name': 'future'}, {'id': 3713, ..."
1166,694.0,The Shining,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",8.1,3890.0,66.955932,"[{'id': 612, 'name': 'hotel'}, {'id': 1533, 'n..."
9935,272.0,Batman Begins,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",7.5,7511.0,66.930929,"[{'id': 486, 'name': 'himalaya'}, {'id': 779, ..."
1120,1892.0,Return of the Jedi,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",7.9,4763.0,66.902201,"[{'id': 526, 'name': 'rebel'}, {'id': 1155, 'n..."
39340,313369.0,La La Land,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",7.9,4745.0,66.872289,"[{'id': 1416, 'name': 'jazz'}, {'id': 1691, 'n..."
1019,500.0,Reservoir Dogs,"[{'id': 80, 'name': 'Crime'}, {'id': 53, 'name...",8.1,3821.0,66.810966,"[{'id': 2052, 'name': 'traitor'}, {'id': 6099,..."
6238,22.0,Pirates of the Caribbean: The Curse of the Bla...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",7.5,7191.0,66.604391,"[{'id': 911, 'name': 'exotic island'}, {'id': ..."
4636,671.0,Harry Potter and the Philosopher's Stone,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",7.5,7188.0,66.601262,"[{'id': 616, 'name': 'witch'}, {'id': 1441, 'n..."

In [82]:
merged_df = merged_df.head(500)
merged_df.to_json('movies/movies.json', orient='records', indent=2)